table, th, td {
    border: 1px solid;
    margin-right: none;
    padding-right: none;

}
table{
    min-width: 1000px;
    table-layout: fixed;
    width: 100%;
}

th:nth-child(1),
td:nth-child(1) {
  width: 15%;
}
th:nth-child(2),
td:nth-child(2) {
  width:20%;
}
th:nth-child(3),
td:nth-child(3) {
  width: 20%;
}
th:nth-child(4),
td:nth-child(4) {
  width: 30%;
}
th:nth-child(5),
td:nth-child(5) {
  width: 15%;
}